.body{
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    position: static;
    top: 0;
    left: 0;
    overflow: auto;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.main{
    width: 90%;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgb(201, 201, 201);
    overflow: hidden;
}

.under_menu{ /*ПОМАГИТЕ НЕ ВЫХООООДИТ ЧТО_ТО НАДО ДЕЛАТЬ С ФУТОРОМ!*/
    position: absolute;
    width: 50%;
    margin: 50%;
}

.h2{
    text-decoration: underline;
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
    background: linear-gradient(to right, #ff762c, #ce350c);
    font-size: 2rem;
    color: #FFF;
    font-weight: 500;
    text-align: center;
}
.h3{
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
    background-color: rgb(201, 201, 201);
    font-size: 1.25rem;
    text-align: center;
    color: #ce350c;
    line-height: 1rem;
}

.box{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-style: solid;
    border-width: 0.01rem;
    color: rgb(201, 201, 201);
    position: relative;
    box-shadow: 0 10px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}


.footer{
    display: inline-block;
    position: relative;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #ff762c, #ce350c);
}

.box_one_element{
    display: inline-block;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    position: relative;
    text-align: center;
    width: 30%;
    border-style: solid;
    border-width: 0.01rem;
    color: rgb(201, 201, 201);
    height: 30%;
    overflow: hidden;
    zoom:1;
}

.h3_in_box{
    display: inline-table;
    color: #ce350c;
    text-align: center;
    font-size: 1.20rem;
    height: 9rem;
    padding: 0.1rem  0.2rem  0.1rem  0.2rem;
    width: 100%;
    background-color: rgb(201, 201, 201);
    position: relative;
    border-bottom: 10px, brown;
}
.discription{
    position: relative;
    border-style: solid;
    border-width: 0.01rem;
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    color: rgb(201, 201, 201);
    font-weight: bolder;
    font-size: larger;
}

.img{
    position: relative;
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    margin-top: 0;
    width: 20rem;
}


@media (max-width: 1248px) {
    .img{
        position: relative;
        margin: 0 0 0 0;
        width: 12rem;
    }
    .h3_in_box{
        display: inline-table;
        color: #ce350c;
        text-align: center;
        font-size: 0.9rem;
        height: 7rem;
        padding: 0.1rem  0.2rem  0.1rem  0.2rem;
        width: 100%;
        background-color: rgb(201, 201, 201);
        position: relative;
        border-bottom: 10px, brown;
    }
    .box_one_element{
        display: inline-block;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        position: relative;
        text-align: center;
        width: 40%;
        border-style: solid;
        border-width: 0.01rem;
        color: rgb(201, 201, 201);
        height: 30%;
        overflow: hidden;
        zoom:1;
    }
}
#sales{
    color: #ce350c; font-size: x-large;
}

.boxes{
    width: 5rem;
    height: 2rem;
    text-align: center;
}
.number{
    padding-bottom: 5%;
    padding-top: 5%;
}
.plus{
    font-size: 2rem;
}
.minus{
    font-size: 2rem;
}

.btn-primary{
    display: inline-table;
    text-align: center;
    color: white;
    position: relative;
    width: 48%;
    margin: 0 auto;
}
.btn-primary:hover{
    background-color: #ce350c;
}

#final{
    width: 40%;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
    background-color: rgba(201,201,201,0.4);
    box-shadow: 0 10px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
